@inject IWebsiteService websiteService

@{
    ViewData["Title"] = "ProductList";
    var websites = await websiteService.GetWebsites();
}



<div id="accordion">
    @foreach (var website in websites)
    {
        <div class="card rounded-0 row mb-3">
            <div class="card-header  d-flex justify-content-between align-items-center" id="ws-h-@website.Id">
                <button class="btn btn-link" data-toggle="collapse" data-target="#ws-b-@website.Id" aria-expanded="false" aria-controls="ws-b-@website.Id">
                    @website.Name
                </button>
                <span><span class="text-primary">@website.Products.Count()</span> Adet Ürün Mevcut</span>
            </div>

            <div id="ws-b-@website.Id" class="collapse w-100 " aria-labelledby="ws-h-@website.Id" data-parent="#accordion">
                <div class="card-body p-0">
                    <a class="btn btn-sm btn-primary w-100 rounded-0" asp-action="ProductAdd" asp-controller="Product" asp-route-websiteId="@website.Id"> <i class="fas fa-plus"></i></a>
                    @if (website.Products.Any())
                    {
                        <div class="table-responsive w-100">
                            <table class="table table-light table-striped table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>URL</th>
                                        <th>Ad</th>
                                        <th>İşlem</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in website.Products)
                                    {
                                        <tr>
                                            <td class="align-middle text-truncate">
                                                @{
                                                    string value = string.Concat(product.Url.Replace(website.BaseUrl, "").Take(50));
                                                }
                                                @value
                                                @if (product.Url.Length > value.Length)
                                                {
                                                    <button class="btn btn-link" data-value="@product.Url" data-toggle="modal" data-target="#detailModal" style="box-shadow:none">...</button>
                                                }
                                            </td>
                                            <td class="align-middle text-truncate">@product.Name</td>
                                            <td class="align-middle">
                                                <div class="d-flex justify-content-center">
                                                    <button type="button" class="btn btn-danger btn-sm deleteBtn" data-toggle="modal" data-target="#productDeleteModal" data-productid="@product.Id"><i class="fas fa-trash-alt"></i></button>
                                                    <button type="button" class="btn btn-info btn-sm mx-2 updateBtn" data-toggle="modal" data-target="#productUpdateModal"
                                                            data-websiteid="@product.WebsiteId"
                                                            data-url="@product.Url"
                                                            data-name="@product.Name"
                                                            data-id="@product.Id">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                    <a class="btn btn-primary btn-sm" asp-route-productId="@product.Id"  asp-action="TrackingRecordList" asp-controller="TrackingRecord"><i class="fas fa-list"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>URL</th>
                                        <th>Ad</th>
                                        <th>İşlem</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p class="mt-3">Listelenecek Ürün Yok</p>
                    }

                </div>
                <div class="card-footer text-center">
                    <a href="@website.BaseUrl">@website.BaseUrl</a>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <a class="btn btn-sm btn-primary w-100 rounded-0" asp-action="WebsiteAdd" asp-controller="Website"> <i class="fas fa-plus"></i></a>
    </div>
</div>

@section Modals{
    <div class="modal fade" id="productDeleteModal" tabindex="-1" role="dialog" aria-labelledby="Product Delete Modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ürün silinsin mi?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Ürün silinsin mi?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Vazgeç</button>
                    <button type="button" class="btn btn-danger" id="deleteProductModalBtn" data-productid="0">Sil</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="productUpdateModal" tabindex="-1" role="dialog" aria-labelledby="Product Update Modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product Güncelle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @await Component.InvokeAsync(typeof(ProductUpdateFormViewComponent), new UpdateModalViewModel("productUpdateModal", "pumSubmitBtn", 0))
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                    <button type="button" class="btn btn-primary" id="pumSubmitBtn">Guncelle</button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script>
        $('.deleteBtn').on("click", function () {
            var id = $(this).data('productid');
            $('#deleteProductModalBtn').data('productid', id);
        });
        $('#deleteProductModalBtn').click(function(event)  {
            var id = $(event.target).data('productid');
            $.ajax({
                url: `@Url.Action("ProductDelete", "Product")?id=${id}`,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
            }).done(_ => {
                $('#productDeleteModal').modal('hide');
                window.location.reload();
            });
        });
        $('.updateBtn').on("click", function () {
            var product = {
                id: $(this).data('id'),
                url: $(this).data('url'),
                websiteid: $(this).data('websiteid'),
                name: $(this).data('name')
            }
            $('#productUpdateModal #Id').val(product.id);
            $('#productUpdateModal #Name').val(product.name);
            $('#productUpdateModal #Url').val(product.url);
            $('#productUpdateModal #WebsiteId').val(product.websiteid);
        });
    </script>
}